body 
    background: white

.title
    text-align: center

.form
    display: inline-block

.form__title
    margin: 0

.form__location
    width: 300px

.form__description
    width: 300px

.fulltime-field
    display: inline-block

.search-form
    text-align: center

.submit
    padding-left: 10px
    display: inline-block

.page__title
    font-size: 16px

.job__company
    display: inline-block
    padding-left: 10px

.job-list__title
    text-align: center

.job__fulltime
    display: inline-block
    color: green

.job__location
    // display: inline-block
    padding-left: 10px
    // position: absolute
    // right: 5% 

.job__title
    font-size: 16px
    padding-left: 10px
    color: blue

.job
    border: solid 1px black 
    // display: grid
    // grid-template-columns: 1fr
    // justify-content: center
    width: 800px
    margin: 0px auto

.body
    background-color: grey

.job-page-wrapper
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-items: center
    padding-left: 200px

.job-page__company-info
    display: block
    width: 20vw
    border: 1px solid #ddd

.job-page__company-info img
    width: 100%

.job-page__description
    width: 40vw
    border: 1px solid #ddd

.job-page__title
    font-size: 16px
    font-weight: bold
    text-align: center