body 
    background: white

.title
    text-align: center

.form
    display: inline-block

.form__title
    margin: 0

.form__location
    width: 300px

.form__description
    width: 300px

.fulltime-field
    display: inline-block

.submit
    padding-left: 10px
    display: inline-block

.page__title
    font-size: 16px

@import "test.sass"